includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    editorUrl: '%%relFile%%:%%line%%'
    editorUrlTitle: 'editor %%relFile%%:%%line%%'
    phpVersion: 80100
    paths:
        - waf4wordpress-myattackers.php
        - src/
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#^Parameter \#1 \$query of method wpdb::query\(\) expects string, string\|null given\.$#'
